name: Update umbrel-app.yml metadata version

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  update-umbrel-app:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - uses: CPardi/update-umbrel-app-action@v0
