name: Update umbrel-app.yml metadata version

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: mikefarah/yq@v4
        with:
          cmd: yq --version

      - name: Run update-version tests
        working-directory: ./test-update-version/
        run: |
          ./run-tests.sh

  update-umbrel-app:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:

          ref: ${{ github.head_ref }}
      - uses: CPardi/update-umbrel-app-action@v0
